// TODO stillingar hér
$black: #000000;
$white: #FFFFFF;
$sand: #AFB281;
$azure: #CEE8FF;
$cream: #FCFFD2;

h1, h2, h3, h4, h5, h6 { /* stylelint-disable-line */
  font-family: Oswald, verdana, serif;
}
