// TODO stillingar hér
$black: #000;
$white: #fff;
$sand: #afb281;
$azure: #cee8ff;
$cream: #fcffd2;
$red: #cc9694;

$gutter: 20px;
$maxwidth: 1200px;

h1, h2, h3, h4, h5, h6 { /* stylelint-disable-line */
  font-family: Oswald, verdana, serif;
}

@mixin squeezepad {
  padding: 0 $gutter;
}
