.header {
  background-color: $sand;
}

@media (max-width: 1200px) {
  .header > * {
    @include squeezepad;
  }
}

.header__h1 {
  margin: -$gutter 0;
  font-size: 4em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  @media (max-width: 500px) {
    text-align: center;
  }
}

.invisible_item {
  overflow: hidden;
  flex-shrink: 1;
  visibility: hidden;
  background-color: #000;
  @media (max-width: 500px) {
    width: 0;
    height: 0;
  }
}

.nav__link {
  font-weight: bold;
  color: $black;
  text-decoration: none;
}

.header__cart_link {
  margin-left: -1.5*$gutter;
  @media (max-width: 500px) {
    margin-left: 0;
  }
  font-weight: 500;
  color: $black;
  text-decoration: none;
}

.header__cart_link::before {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 5px -5px 0;
  content: "";
  background: url("img/cart.svg") no-repeat;
  background-size: 1.5em;
}
