.products_main {
  padding-top: $gutter;
  padding-bottom: 2*$gutter;
  @include squeezepad;
}

.products_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products_img_container {
  padding-bottom: $gutter;
}

.products_img {
  width: 100%;
  height: 100%;
}

.products_title {
  padding-bottom: $gutter/2;
  font-size: 2em;
  @media (max-width: 500px) {
    font-size: 2.5em;
  }
}

.product_description {
  margin-bottom: $gutter;
  flex-grow: 1;
}

.product_price {
  padding-bottom: $gutter/2;
  font-size: 1.5em;
  @media (max-width: 500px) {
    font-size: 2em;
  }
}

.form__inputs {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  margin-top: 0;
}

.number_input {
  min-width: 8em;
  height: 2.5em;
  padding-left: $gutter/3;
  margin-right: $gutter/3;
  flex-grow: 1;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 3px;
}

.submit_button {
  min-width: ($maxwidth/10);
  margin: 0;
  flex: 1 0 20%;
  background-color: transparent;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: 1.5em;
}

.cart_button__img {
  height: 1em;
}

.submit_button::before {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  content: url("../img/cart.jpg");
  background-size: 1.5em;
}
