.products_main {
  padding-top: $gutter;
  padding-bottom: 2*$gutter;
  @include squeezepad;
}

.products_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products_img_container {
  padding-bottom: $gutter;
}

.products_img {
  width: 100%;
  height: 100%;
}

.product_title {
  padding-bottom: $gutter/2;
  font-size: 2em;
  @media (max-width: 500px) {
    font-size: 2.5em;
  }
}

.product_description {
  margin-bottom: $gutter;
  flex-grow: 1;
}

.product_price {
  padding-bottom: $gutter/2;
  font-size: 1.5em;
  @media (max-width: 500px) {
    font-size: 2em;
  }
}
